.huodong_container a,
input {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.huodong_container input {
  padding-left: 2px;
  border: 1px solid #e2e2e2;
  outline: none;
}
.navigation h1 {
  color: #1a1e68;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 60px;
  padding-left: 16px;
}
.navigation .drop_down {
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}
.navigation .drop_down span {
  width: 25px;
  height: 2px;
  border-radius: 2px;
  margin: 5px 0;
  display: block;
  background: #0B2D8F;
}
.navigation .drop_down_list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background: #fff;
}
.navigation .drop_down_list li {
  position: relative;
  text-align: center;
  line-height: 30px;
  padding: 0 20px 0 10px;
  border-bottom: 1px solid #dfdfdf;
}
.navigation .drop_down_list li:after {
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -2px;
  border: 5px solid transparent;
  border-top-color: #585657;
  content: "";
}
