@charset "utf-8";
//轮播图片
.new_banner{
   .swiper-wrapper{
       a{
           display: block;
           width: 100%;
       }
       img{
           width: 100%;
           vertical-align: top;
       }
   } 
   .pagination_a{
       position: absolute;
       z-index: 10;
       bottom: 5px;
       width: 100%;
       text-align: center;
       .swiper-pagination-bullet{
           width: 8px;
           height: 8px;
           display: inline-block;
           margin: 2px;
           border: 1px solid #0160C0;
           border-radius: 50%;
           opacity: 1;
           background: none;
       }
       .swiper-pagination-bullet-active{
           background: #0160C0;
       }
   }
}

.thumbs-cotnainer{
    .swiper-slide{
        float: left;
        width: 150px;
        img{
            width: 150px;
            height: 150px;
        }
        h3{
            margin-bottom: 25px;
            color: #727171;
        }
    }
}
.theme-cotnainer{
    .swiper-slide{
        float: left;
        width: 290px;
        img{
            width: 290px;
            vertical-align: top;
        }
    }
}
