@charset "utf-8";
//订单提交页样式
.tab_content .tabnav li{
    float: left;
}
.index_price{
    position: fixed;
    z-index: 10;
    background: #eee;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #d6d6d6;
    .index_goods_list & .right{
        padding-top: 5px;
        text-align: left;
    }
}
.pbottom{
    padding-bottom: 50px;
}
.index_goods_list .goods_box_line{
    background: none;
}
.subbtn{
    background: #4BB0EA;
    color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 1.2em;
}
.shop_car .box h5{
    .imooc-icon{
        position: absolute;
        right: 0;
        margin-right: 25px;
        margin-top: -5px;
        font-size: 1.8em;
        color: #0160AF;
    }
    &.open{
       .imooc-icon{
           -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
           -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
           transform: rotate(90deg);
       } 
    }
}
.add_address{
    display: none;
}













