/*确认订单*/

.qrdd {
  padding: 10px;
  .out_border {
    border: 1px solid #dbdddc;
    border-radius: 4px;
  }
  li {
    margin-bottom: 12px;
    position: relative;
    .time {
      margin-left: 10px;
      color: #888;
      label {
        float: left;
        min-width: 70px;
        color: #888;
      }
      p {
        overflow: hidden;
        padding-right: 5px;
      }
    }
    .jiantou {
      color: #dadada;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -0.5em;
      font-size: 2em;
    }
    dl {
      padding: 5px 0;
    }
    dd {
      margin: 3px 0;
      font-size: 1em;
      i {
        font-size: 2em;
        color: #3280ca;
        margin: 0 12px;
        vertical-align: middle;
      }
      label {
        color: #3280ca;
      }
      &.fangshi span {
        color: #888;
        float: right;
        line-height: 2.4em;
        margin: 0 10px;
      }
    }
    a {
      color: #888;
      line-height: 2em;
      vertical-align: top;
    }
    &.xiangqing {
      dl {
        overflow: hidden;
        padding-bottom: 0;
      }
      dt {
        &.header {
          color: #297bc7;
          border-bottom: 1px solid #b8b8b8;
          line-height: 42px;
          padding: 0 15px;
          margin-bottom: 15px;
          span {
            color: red;
          }
          strong {
            font-weight: normal;
            float: right;
          }
        }
        &.header_primary {
          background: #2a7cc6;
          color: #fff;
          margin-top: -5px;
        }
        &.footer {
          display: table;
          width: 100%;
          height: 34px;
          background: #3197E0;
          .f_left {
            float: left;
            width: 75%;
            height: 34px;
          }
          .f_right {
            float: right;
            width: 25%;
            height: 34px;
          }
          span {
            display: table-cell;
            color: #fff;
            width: 1%;
            white-space: nowrap;
            padding-left: 8px;
            vertical-align: middle;
            height: 34px;
            s {
              text-decoration: none;
              &:before {
                font-size: 0.8em;
                content: "￥";
              }
            }
          }
          .btn {
            text-align: center;
            display: table-cell;
            width: 1%;
            padding-top: 5px;
            color: #fff;
            white-space: nowrap;
            i {
              font-size: 1.5em;
              position: relative;
              top: 3px;
              display: inline-block;
            }
            &:active {
              background: #246eb1;
            }
          }
          .quxiao {
            color: #0d2b8d;
          }
        }
      }
      dd {
        &.float_left {
          float: left;
          height: 4.5em;
          width: 4.5em;
          margin: 0 12px;
          img {
            width: 100%;
          }
        }
        &.float_right {
          color: #888;
          float: right;
          height: 4.5em;
          margin-right: 10px;
          a {
            line-height: 4.5em;
            color: #3280ca;
          }
          p {
            color: #3280ca;
            font-size: 2em;
          }
        }
        &.center {
          padding-top: 6px;
          color: #888;
          font-size: 0.8em;
          line-height: 1.5em;
          overflow: hidden;
          height: 4.5em;
          display: table-cell;
          vertical-align: middle;
          label {
            float: left;
            color: #888;
          }
          span {
            display: inline-block;
            overflow: hidden;
          }
        }
      }
    }
    &.tongji dd {
      color: #888;
      line-height: 40px;
      border-bottom: 1px solid #dedede;
      span {
        color: #2a7cc6;
        float: right;
        &:before {
          font-size: 0.8em;
          content: "￥";
        }
      }
      &:last-child {
        border: none;
      }
    }
    &.btn a {
      color: #fff;
      background: #4aaeea;
      font-size: 1.2em;
      display: block;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

/* 新增时间样式*/

/* 发票管理页面label样式*/

.banner {
  position: relative;
  overflow: hidden;
  .imooc-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1em;
  }
  img {
    float: left;
    width: 100%;
  }
}

.header_mes {
  position: relative;
  padding-left: 125px;
  min-height: 130px;
  background: url(../img/bg.jpg) no-repeat top left;
  background-size: cover;
  vertical-align: middle;
  .jiantou {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5em;
    margin-top: -0.5em;
    padding-right: 15px;
    cursor: pointer;
  }
  .touxiang {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -100px;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
  h1 {
    padding-top: 42px;
    font-weight: normal;
    color: #707070;
  }
  p {
    margin-top: 12px;
    color: #717171;
  }
}

.zh_content {
  padding: 8px;
  margin: 16px 0 22px;
  li {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 20px;
    div {
      line-height: 43px;
      border-bottom: 1px solid #d9d9d9;
      &:last-child {
        border: none;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        color: #707070;
        font-size: 1em;
      }
      .imooc-icon:not(.jiantou) {
        color: #dadada;
        font-size: 1.5em;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
      }
      .jiantou {
        position: absolute;
        right: 7px;
        font-size: 1.5em;
        line-height: 43px;
        padding-right: 7px;
      }
    }
    &.sub_list01 div {
      padding-left: 20px;
      a {
        color: #3197E0;
      }
      i {
        color: #707070;
      }
      span {
        color: #707070;
        display: inline-block;
        min-width: 20px;
        text-align: right;
        float: right;
        padding-right: 25px;
      }
    }
    &.sub_list02 {
      a {
        color: #3197E0;
      }
      i {
        color: #707070;
      }
      span {
        color: #707070;
        display: inline-block;
        min-width: 20px;
        text-align: right;
        float: right;
        padding-right: 25px;
      }
      div a i.imooc-icon:not(.jiantou) {
        color: #3197E0;
      }
    }
  }
}

/*我的信息页面列表样式*/

.new_footer {
  text-align: center;
  min-height: 65px;
  position: relative;
  .imooc-icon {
    position: absolute;
    top: 0;
    left: 10px;
    color: #715154;
    font-size: 3em;
    cursor: pointer;
  }
  span, a {
    display: inline-block;
    padding: 5px 10px;
    color: #715154;
    font-size: 1em;
  }
}

.shou_msg {
  .out_border {
    overflow: hidden;
    label {
      color: #267cc7;
      padding-left: 10px;
      float: left;
      line-height: 40px;
    }
    > div {
      overflow: hidden;
      padding-right: 10px;
    }
    input {
      height: 40px;
      padding-right: 10px;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: none !important;
    }
    textarea {
      padding: 10px 0;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: none !important;
    }
  }
  .chq {
    &:after {
      display: table;
      clear: both;
      width: 100%;
      content: "";
    }
    li {
      margin-bottom: 0;
    }
  }
  .chengshi {
    float: left;
    position: relative;
    width: 48%;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    label {
      color: #267cc7;
      padding-left: 10px;
      float: left;
      line-height: 40px;
      padding-right: 5px;
    }
    > div {
      overflow: hidden;
      padding-right: 20px;
      background: url(../img/sanjiao.jpg) no-repeat right bottom;
      background-size: 14px;
      background-origin: border-box;
    }
    input {
      float: left;
      height: 40px;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: none !important;
    }
    ul {
      display: none;
      border-radius: 4px;
      position: absolute;
      top: 42px;
      left: 0;
      background: #fff;
      width: 100%;
      z-index: 9;
      li {
        line-height: 1.5em;
        padding-left: 40px;
      }
    }
  }
  .quyu {
    float: right;
    position: relative;
    width: 48%;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    label {
      color: #267cc7;
      padding-left: 10px;
      float: left;
      line-height: 40px;
      padding-right: 5px;
    }
    > div {
      overflow: hidden;
      padding-right: 20px;
      background: url(../img/sanjiao.jpg) no-repeat right bottom;
      background-size: 14px;
      background-origin: border-box;
    }
    input {
      float: left;
      height: 40px;
      width: 100%;
      border: none;
      outline: none;
      box-shadow: none !important;
    }
    ul {
      display: none;
      border-radius: 4px;
      position: absolute;
      top: 42px;
      left: 0;
      background: #fff;
      width: 100%;
      z-index: 9;
      li {
        line-height: 1.5em;
        padding-left: 40px;
      }
    }
  }
}

.moren:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin-right: 5px;
  content: "";
}

.navigation {
  .imooc-icon {
    float: right;
    font-size: 2em;
    color: #2a7cc6;
    line-height: 60px;
    padding-right: 10px;
  }
  .btn {
    color: #307dc1;
    float: right;
    line-height: 60px;
    font-size: 1.5em;
    padding-right: 20px;
  }
}

.tabs {
  display: table;
  a {
    color: #737373;
    font-size: 1.2em;
    display: table-cell;
    line-height: 50px;
    width: 1%;
    text-align: center;
    border-bottom: 4px solid transparent;
    &.active {
      border-color: #277ec5;
    }
  }
}

.swiper-container .content-slide {
  padding: 10px 0px;
  li {
    overflow: hidden;
    display: table;
    border-spacing: 10px;
  }
  div {
    display: table-cell;
    width: 100%;
    height: 101px;
    padding-left: 23px;
    &.red {
      background: url(../img/xianjin_01.jpg) no-repeat left top, url(../img/xianjin_03.jpg) no-repeat right top;
      background-color: #ee3d7f;
      background-size: contain;
    }
    &.blue {
      background: url(../img/xianjinb_01.jpg) no-repeat left top, url(../img/xianjinb_03.jpg) no-repeat right top;
      background-color: #0099d9;
      background-size: contain;
    }
    h6 {
      font-size: 0.75em;
      font-weight: normal;
      padding-top: 18px;
      text-transform: uppercase;
      color: #fff;
    }
    h5 {
      position: relative;
      left: -10px;
      display: table-cell;
      height: 50px;
      font-weight: normal;
      color: #fff;
      vertical-align: bottom;
      span {
        font-size: 3.5em;
        position: relative;
        top: 10px;
      }
    }
  }
  p {
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 101px;
    width: 1%;
    padding: 0 15px;
    border: 1px solid #dadbda;
    border-right: none;
    background: url(../img/xianjin2.png) repeat-y right top;
    background-size: contain;
  }
}

/*关于我们页面样式*/

article {
  padding: 10px 10px;
  max-width: 750px;
  margin: 0 auto;
  p {
    font-size: 0.75em;
    line-height: 1.55em;
    color: #595959;
    margin-bottom: 15px;
    text-align: justify;
    span {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  div {
    overflow: hidden;
    p {
      margin-bottom: 0;
      overflow: hidden;
    }
  }
  h1 {
    font-size: 0.8em;
    line-height: 1em;
    margin-top: 5px;
  }
  h2 {
    font-size: 0.95em;
  }
  .fl {
    float: left;
    margin-right: 5px;
  }
  .fr {
    float: right;
    margin-left: 5px;
  }
  .big {
    width: 100%;
    vertical-align: top;
  }
  .small {
    width: 50%;
  }
}

/**
发票管理页面样式
*/

.jiantou {
  input {
    background: none;
  }
  > div {
    background: url(../img/sanjiao.jpg) no-repeat right bottom;
    background-size: 14px;
  }
}

.fapiao label {
  margin-left: 10px;
}

/**
评论页新样式
*/

.pinglun {
  .footer {
    .checkbox:before {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #fff;
      display: inline-block;
      margin-right: 5px;
      content: "";
    }
    .on:before {
      background: #999 !important;
    }
    .btn {
      float: right;
      width: auto !important;
      padding: 0 5px;
    }
  }
  .pinglun_container {
    position: relative;
    padding-left: 100px;
    padding-right: 5px;
    margin-bottom: 20px;
    .pic {
      position: absolute;
      left: 10px;
      width: 80px;
      height: 80px;
      img {
        width: 100%;
      }
    }
    .start {
      padding: 15px 0;
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/smile-01.png) no-repeat;
        background-size: 20px;
        margin-right: 2px;
        background-position: 0 -26px;
        &.on {
          background-position: 0px 0px;
        }
      }
    }
    .pinglun_list {
      border-bottom: 5px solid #f5f5f5;
      li {
        line-height: 30px;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 0;
        margin-left: 5px;
        &:last-child {
          border: none;
        }
        label {
          float: left;
          font-size: 0.75em;
          color: #999;
          margin-right: 10px;
        }
        div span {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background: url(../img/smile-01.png) no-repeat;
          background-size: 20px;
        }
        &.zongping span {
          margin-right: 2px;
          background-position: 0 -26px;
          &.on {
            background-position: 0px 0px;
          }
        }
        &.kouwei span, &.server span {
          margin-right: 8px;
          background-position: 0 -72px;
        }
        &.kouwei span.on, &.server span.on {
          background-position: 0px -50px;
        }
      }
    }
  }
  textarea {
    padding: 5px;
    font-size: 0.8em;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none !important;
  }
  p {
    font-size: 0.8em;
  }
}

/*
 *我的评论页面样式 
 */

.delete_editor {
  float: right;
  margin-left: 10px;
  height: 42px;
  a {
    display: inline-block;
    color: #fff !important;
    line-height: 42em;
    vertical-align: middle !important;
    i {
      font-size: 1.8em;
      vertical-align: middle;
    }
  }
}

