@charset "utf-8";
@import "bianliang";
//推荐套餐样式
.car_package{
    h5{
        border-bottom: 1px solid #d5d5d5;
    }
    p{
        overflow: hidden;
        color: #0160af;
        del,span{
            color: #6f6f6f;
        }
    }
    .shop_con{
        >div{
            img{
                margin: 0 20px;
            }
            overflow: hidden;
            margin-bottom: 10px;
        }
    }
    .blue_btn{
        width: 85%;
    }
}
