@charset "utf-8";
$theme-color1:#0099D9;
html,body{
    margin: 0;
    padding: 0;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.g-mainpanel{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-size: 1.5em;
}
.u-panel{
    background: #f7f7f7;
    margin: 0 auto;            
    text-align: center;
    .u-selectday{
	    width: 100%;
	    div{
	    		font-size: .9em;
	    		width: 50%;
		    display: inline-block;
		    white-space: nowrap;
		    vertical-align: top;
	    }
	}
	table {
      display: block;
      margin: 0 .5em;
	  color: $theme-color1;
	  border-bottom: 1px solid $theme-color1;
	  font-size: .5em;
	  th{
	      width: 1%;
	      line-height: 2em;
	  }
	}
	.u-title{
	    line-height: 2.4em;
	    font-size: 1em;
	    color: #fff;
	    margin-bottom: .5em;
	    border: 1px solid $theme-color1;
	    background: $theme-color1;
	}
	.tableContainer{
	    margin: 0 .5em;
	}
	.u-cal-table{
	    width: 100%;
	    display: table;
	    table-layout: fixed;
	    .row{
    		white-space: nowrap;
			display: table-row;
			>div{
				display: table-cell;
			    line-height: 3.05em;
			    font-size: .8em;
			    color: #454545;
			}
	    }
	    .active{
    		background:$theme-color1;
    		color: #fff !important;
	    }
	}
	.bottom{
		overflow: hidden;
		a{
			float: right;
		    padding: .4em .7em;
		    margin-bottom: 1em;
		    text-decoration: none;
		    color: $theme-color1;
		    &:active{
		    	background: rgba(78, 204, 196, .3);
		    }
		}
	}
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.u-timepanel{
	.u-timeselectday{
		position: absolute;
		left: 0;
	    font-size: 0.9em;
	    width: 100%;
	    display: table;
	    white-space: nowrap;
	    vertical-align: top;
	    div{
	    	display: table-cell;
		    vertical-align: middle;
		    width: 33.33333333333333%;
	    }
	}
	.u-realtime{
		width: 100%;
	    margin: 0 auto;
	    margin-top: 2.7em;
	    position: relative;
	    zoom: 1;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    >div{
	    	max-width: 100%;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 auto;
		    -ms-flex: 1 auto;
		    flex: 1 auto;
	    }
	    .topicon{
	    	width: 1em;
		    height: 10px;
		    background: url(../img/top.png) no-repeat center;
		    background-size: 100% 100%;
		    margin: 0 auto;
	    }
	    .bottomicon{
	    		width: 1em;
		    height: 10px;
		    background: url(../img/bottom.png) no-repeat center;
		    -webkit-background-size: 100% 100%;
		    background-size: 100% 100%;
		    margin: 0 auto;
	    }
	    .middlemain{
	    		height: 120px;
		    overflow: hidden;
		    margin: 20px 0;
		    position: relative;
	    }
	    .iscroll>div{
	    		height: 40px;
		    line-height: 40px;
		    color: #454545;
		    font-size: .9em;
	    }
	}	
	.timeleft>div:nth-child(1){
	    position: absolute;
	    top:70px;
	    left: 0;
	    width: 100%;
	    height: 40px;
	    border-top: 1px solid $theme-color1;
	    border-bottom: 1px solid $theme-color1;
	    background: lighten($theme-color1,30%);
	}
	.bottom a{
		margin-top: 1em;
	}
} 

/*蒙层*/
.u-h-shadow{
    position:fixed;
    z-index:999;
    left:0;
    top:0; 
    width:100%; 
    pointer-events:auto;
    height:100%;
    background: rgba(0, 0, 0, .6);
}