@charset "utf-8";
section.ui-page{
    height: 100%;
}
//排行榜活动组件容器
.sale-list{
    height: 100%;
    .swiper-slide{
        height: 100%;
        overflow: auto;
        background: #fff;
        box-shadow: 0 0 8px #999;
    }
}
.index_tui_goods h2{
    position: relative;
    height: 60px;
    color: #000;
    background: #f6f6f6;
    hr{
        margin: 0 10px;
        border: 1px solid #e5e4e9;
        border-top: none;
    }
}
.two_goods_box .goods_box{
    position: relative;
    span{
        position: absolute;
        top: 12px;
        left: 22px;
        width: 22px;
        height: 30px;
        background: url(../img/agl.png) no-repeat;
        background-size: 100%;
        color: #fff;
        text-align: center;
        line-height: 25px;
    }
}
