@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon.eot?tfbf1c');
  src: url('../../../fonts/icomoon.eot?#iefixtfbf1c') format('embedded-opentype'), url('../../../fonts/icomoon.woff?tfbf1c') format('woff'), url('../../../fonts/icomoon.ttf?tfbf1c') format('truetype'), url('../../../fonts/icomoon.svg?tfbf1c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.imooc-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qrdd {
  padding: 10px;
}
.qrdd .out_border {
  border: 1px solid #dbdddc;
  border-radius: 4px;
}
.qrdd li {
  margin-bottom: 12px;
  position: relative;
}
.qrdd li .jiantou {
  color: #dadada;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -0.5em;
  font-size: 2em;
}
.qrdd li dl {
  padding: 5px 0;
}
.qrdd li dd {
  margin: 3px 0;
  font-size: 1em;
}
.qrdd li dd i {
  font-size: 2em;
  color: #3280ca;
  margin: 0 12px;
}
.qrdd li dd.fangshi a {
  color: #3280ca;
}
.qrdd li dd.fangshi span {
  color: #888888;
  float: right;
  line-height: 2.4em;
  margin-right: 35px;
}
.qrdd li a {
  color: #888888;
  line-height: 2em;
  vertical-align: top;
}
.qrdd li.xiangqing dl {
  overflow: hidden;
  padding-bottom: 0px;
}
.qrdd li.xiangqing dt.header {
  color: #297bc7;
  border-bottom: 1px solid #b8b8b8;
  line-height: 42px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.qrdd li.xiangqing dt.header span {
  color: red;
}
.qrdd li.xiangqing dt.header strong {
  font-weight: normal;
  float: right;
}
.qrdd li.xiangqing dt.footer {
  display: table;
  width: 100%;
  height: 34px;
  background: #3197E0;
}
.qrdd li.xiangqing dt.footer span {
  display: table-cell;
  color: white;
  width: 1%;
  white-space: nowrap;
  padding-left: 18px;
  vertical-align: middle;
}
.qrdd li.xiangqing dt.footer span s {
  text-decoration: none;
}
.qrdd li.xiangqing dt.footer span s:before {
  content: "￥";
}
.qrdd li.xiangqing dt.footer .btn {
  text-align: center;
  display: table-cell;
  width: 1%;
  padding-top: 5px;
  color: white;
  white-space: nowrap;
}
.qrdd li.xiangqing dt.footer .btn i {
  font-size: 1.75em;
  display: inline-block;
  margin: 0 5px;
}
.qrdd li.xiangqing dt.footer .btn:active {
  background: #246eb1;
}
.qrdd li.xiangqing dd.float_left {
  float: left;
  height: 4.5em;
  width: 4.5em;
  margin: 0 12px;
}
.qrdd li.xiangqing dd.float_left img {
  width: 100%;
}
.qrdd li.xiangqing dd.float_right {
  color: #818181;
  padding: 0px 10px 8px;
  float: right;
}
.qrdd li.xiangqing dd.float_right p {
  font-size: 2em;
  color: #2c7bc6;
}
.qrdd li.xiangqing dd.float_right p:before {
  font-size: 0.8em;
  content: "￥";
}
.qrdd li.xiangqing dd.center {
  color: #8b8b8b;
  line-height: 1.5em;
  overflow: hidden;
}
.qrdd li.xiangqing dd.center label {
  float: left;
}
.qrdd li.xiangqing dd.center span {
  display: inline-block;
}
.qrdd li .youhuiquan a {
  color: #2c7bc6;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
}
.qrdd li .youhuiquan a i {
  display: inline-block;
  vertical-align: middle;
}
.qrdd li.tongji dd {
  color: #8a8a8a;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
}
.qrdd li.tongji dd span {
  color: #2a7cc6;
  float: right;
}
.qrdd li.tongji dd span:before {
  font-size: 0.8em;
  content: "￥";
}
.qrdd li.tongji dd:last-child {
  border: none;
}
.qrdd li.btn a {
  color: #fff;
  background: #4aaeea;
  font-size: 1.2em;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.banner {
  position: relative;
  overflow: hidden;
}
.banner .imooc-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1em;
}
.banner img {
  float: left;
}
.banner img {
  width: 100%;
}
.header_mes {
  position: relative;
  padding-left: 125px;
  min-height: 130px;
  background: url(../img/bg.jpg) no-repeat top left;
  background-size: cover;
  vertical-align: middle;
}
.header_mes .jiantou {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.5em;
  margin-top: -0.5em;
  padding-right: 15px;
  cursor: pointer;
}
.header_mes .touxiang {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -100px;
  overflow: hidden;
  border-radius: 50%;
}
.header_mes .touxiang img {
  width: 100%;
}
.header_mes h1 {
  padding-top: 42px;
  font-weight: normal;
  color: #707070;
}
.header_mes p {
  margin-top: 12px;
  color: #717171;
}
.zh_content {
  padding: 8px;
  margin: 16px 0 22px;
}
.zh_content li {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 20px;
}
.zh_content li div {
  line-height: 43px;
  border-bottom: 1px solid #d9d9d9;
}
.zh_content li div:last-child {
  border: none;
}
.zh_content li div a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: #707070;
  font-size: 1em;
}
.zh_content li div .imooc-icon:not(.jiantou) {
  color: #dadada;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.zh_content li div .jiantou {
  position: absolute;
  right: 7px;
  font-size: 1.5em;
  line-height: 43px;
  padding-right: 7px;
}
.zh_content li.sub_list01 div {
  padding-left: 20px;
}
.zh_content li.sub_list01 div a {
  color: #3197E0;
}
.zh_content li.sub_list01 div i,
.zh_content li.sub_list01 div span {
  color: #707070;
}
.zh_content li.sub_list01 div span {
  display: inline-block;
  min-width: 20px;
  text-align: right;
  float: right;
  padding-right: 25px;
}
.zh_content li.sub_list02 a {
  color: #3197E0;
}
.zh_content li.sub_list02 i,
.zh_content li.sub_list02 span {
  color: #707070;
}
.zh_content li.sub_list02 span {
  display: inline-block;
  min-width: 20px;
  text-align: right;
  float: right;
  padding-right: 25px;
}
.zh_content li.sub_list02 div a i.imooc-icon:not(.jiantou) {
  color: #3197E0;
}
.new_footer {
  text-align: center;
  min-height: 65px;
  position: relative;
}
.new_footer .imooc-icon {
  position: absolute;
  top: 0;
  left: 10px;
  color: #715154;
  font-size: 3em;
  cursor: pointer;
}
.new_footer span,
.new_footer a {
  display: inline-block;
  padding: 5px 10px;
  color: #715154;
  font-size: 1em;
}
.shou_msg .out_border {
  overflow: hidden;
}
.shou_msg .out_border label {
  color: #267cc7;
  padding-left: 10px;
  float: left;
  line-height: 40px;
}
.shou_msg .out_border > div {
  overflow: hidden;
  padding-right: 10px;
}
.shou_msg .out_border input {
  height: 40px;
  padding-right: 10px;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
.shou_msg .out_border textarea {
  padding: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
.shou_msg .chq:after {
  display: table;
  clear: both;
  width: 100%;
  content: "";
}
.shou_msg .chq li {
  margin-bottom: 0;
}
.shou_msg .chengshi {
  float: left;
  position: relative;
  width: 48%;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}
.shou_msg .chengshi label {
  color: #267cc7;
  padding-left: 10px;
  float: left;
  line-height: 40px;
}
.shou_msg .chengshi label {
  padding-right: 5px;
}
.shou_msg .chengshi > div {
  overflow: hidden;
  padding-right: 20px;
  background: url(../img/sanjiao.jpg) no-repeat right bottom;
  background-size: 14px;
  background-origin: border-box;
}
.shou_msg .chengshi input {
  float: left;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
.shou_msg .chengshi ul {
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 0;
  background: white;
  width: 100%;
  z-index: 9;
}
.shou_msg .chengshi ul li {
  line-height: 1.5em;
  padding-left: 40px;
}
.shou_msg .quyu {
  float: right;
  position: relative;
  width: 48%;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}
.shou_msg .quyu label {
  color: #267cc7;
  padding-left: 10px;
  float: left;
  line-height: 40px;
}
.shou_msg .quyu label {
  padding-right: 5px;
}
.shou_msg .quyu > div {
  overflow: hidden;
  padding-right: 20px;
  background: url(../img/sanjiao.jpg) no-repeat right bottom;
  background-size: 14px;
  background-origin: border-box;
}
.shou_msg .quyu input {
  float: left;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
.shou_msg .quyu ul {
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 0;
  background: white;
  width: 100%;
  z-index: 9;
}
.shou_msg .quyu ul li {
  line-height: 1.5em;
  padding-left: 40px;
}
.moren:before {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: white;
  margin-right: 5px;
  content: "";
}
.navigation .imooc-icon {
  float: right;
  font-size: 2em;
  color: #2a7cc6;
  line-height: 60px;
  padding-right: 10px;
}
.navigation .btn {
  color: #307dc1;
  float: right;
  line-height: 60px;
  font-size: 1.5em;
  padding-right: 20px;
}
.tabs {
  display: table;
}
.tabs a {
  color: #737373;
  font-size: 1.2em;
  display: table-cell;
  line-height: 50px;
  width: 1%;
  text-align: center;
  border-bottom: 4px solid transparent;
}
.tabs a.active {
  border-color: #277ec5;
}
.page_content .content-slide {
  padding: 10px 0px;
}
.page_content .content-slide li {
  overflow: hidden;
  display: table;
  border-spacing: 10px;
}
.page_content .content-slide div {
  display: table-cell;
  width: 100%;
  height: 101px;
  padding-left: 23px;
}
.page_content .content-slide div.red {
  background: url(../img/xianjin_01.jpg) no-repeat left top, url(../img/xianjin_03.jpg) no-repeat right top;
  background-color: #ee3d7f;
  background-size: contain;
}
.page_content .content-slide div.blue {
  background: url(../img/xianjinb_01.jpg) no-repeat left top, url(../img/xianjinb_03.jpg) no-repeat right top;
  background-color: #0099d9;
  background-size: contain;
}
.page_content .content-slide div h6 {
  font-size: 0.75em;
  font-weight: normal;
  padding-top: 18px;
  text-transform: uppercase;
  color: white;
}
.page_content .content-slide div h5 {
  position: relative;
  left: -10px;
  display: table-cell;
  height: 50px;
  font-weight: normal;
  color: white;
  vertical-align: bottom;
}
.page_content .content-slide div h5 span {
  font-size: 3.5em;
  position: relative;
  top: 10px;
}
.page_content .content-slide p {
  overflow: hidden;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 101px;
  width: 1%;
  padding: 0 15px;
  border: 1px solid #dadbda;
  border-right: none;
  background: url(../img/xianjin2.png) repeat-y right top;
  background-size: contain;
}
article {
  padding: 10px 10px;
  max-width: 750px;
  margin: 0 auto;
}
article p {
  font-size: 0.65em;
  line-height: 1.2em;
  color: #595959;
  margin-bottom: 15px;
  text-align: justify;
}
article p span {
  font-size: 1.5em;
  font-weight: bold;
}
article div {
  overflow: hidden;
}
article div p {
  margin-bottom: 0;
  overflow: hidden;
}
article h1 {
  font-size: 0.8em;
  line-height: 1em;
}
article h2 {
  font-size: 0.75em;
}
article .fl {
  float: left;
  margin-right: 5px;
}
article .fr {
  float: right;
  margin-left: 5px;
}
article .big {
  width: 100%;
  vertical-align: top;
}
article .small {
  width: 50%;
}
.about_incake {
  padding: 20px;
}
.about_incake hr {
  border-bottom: none;
}
.about_incake h1 {
  font-size: 6.5em;
  color: #0b2f8f;
  text-align: center;
  margin-bottom: 25px;
}
.about_incake p {
  line-height: 1.5em;
}
.peisong_scope img {
  display: block;
  margin: 0 auto;
}
.link_wo {
  display: block;
  padding: 20px;
}
.link_wo hr {
  border-bottom: none;
}
.link_wo h1 {
  font-size: 6.5em;
  color: #0b2f8f;
  text-align: center;
  margin-bottom: 25px;
}
.link_wo p {
  line-height: 1.5em;
}
.link_wo address {
  font-style: normal;
  margin: 10px 0;
  line-height: 1.5em;
}
.help dt {
  padding: 20px 30px;
  font-size: 1.5em;
  color: #3197E0;
  border-bottom: 1px solid #cfcdce;
  position: relative;
}
.help dt.on:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.help dt:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 30px;
  font-size: 1.5em;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  color: #d9d9d9;
  content: "\e601";
}
.help dd {
  display: none;
  padding: 20px 30px;
  line-height: 1.5em;
  border-bottom: 1px solid #cfcdce;
}
.img_box {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  background: #fff;
}
.img_box img {
  max-width: 500%;
  height: 100%;
}
.img_box button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
