@charset "utf-8";
/*nextpage的动画效果*/
@keyframes page_updowm{
    from{
        bottom: 5px;
        opacity: 0;
    }
    to{
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes page_updowm{
    from{
        bottom: 5px;
        opacity: 0;
    }
    to{
        bottom: 30px;
        opacity: 1;
    }
}