@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.musice-list ul .select-on dt, .musice-list2 ul .select-on dt, .musice-myaudio ul .select-on dt, .musice-list ul dt, .musice-list2 ul dt, .musice-myaudio ul dt, .musice-list2 h2:before, .content ul .start-btn:before, .content ul .pure-musice-btn:before, .dialog-record .close, .dialog-record .switch span {
  background: url(../img/d3_01_01.png) no-repeat;
  background-size: 64px 92px;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: "Microsoft Yahei","微软雅黑";
  -webkit-user-select: none;
}

.musice-cake {
  background: url(../img/d1.jpg) no-repeat #d8e2f0;
  background-size: cover;
}
.musice-cake .container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.musice-list, .musice-list2, .musice-myaudio {
  background: url(../img/d3_03.jpg) no-repeat top center;
  background-size: 100% auto;
}
.musice-list h2, .musice-list2 h2, .musice-myaudio h2 {
  margin: 160px 0 0;
  padding-left: 15px;
  border-bottom: 1px solid #13328c;
  font-size: 1em;
  font-weight: normal;
  color: #13328c;
}
.musice-list h2 span, .musice-list2 h2 span, .musice-myaudio h2 span {
  margin-left: 10px;
  font-size: .8em;
  color: #505050;
}
.musice-list ul, .musice-list2 ul, .musice-myaudio ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.musice-list ul li, .musice-list2 ul li, .musice-myaudio ul li {
  padding: 0 15px;
}
.musice-list ul li:last-child dl, .musice-list2 ul li:last-child dl, .musice-myaudio ul li:last-child dl {
  border: none;
}
.musice-list ul .select-on, .musice-list2 ul .select-on, .musice-myaudio ul .select-on {
  background: #e6f0fa;
}
.musice-list ul .select-on .start-play, .musice-list2 ul .select-on .start-play, .musice-myaudio ul .select-on .start-play {
  background-position: -13px -83px;
}
.musice-list ul .select-on dt, .musice-list2 ul .select-on dt, .musice-myaudio ul .select-on dt {
  color: #13328c;
  background-position: -49px -4px;
}
.musice-list ul .select-on span, .musice-list2 ul .select-on span, .musice-myaudio ul .select-on span {
  color: #13328c;
}
.musice-list ul .start-play.start-play-on, .musice-list2 ul .start-play.start-play-on, .musice-myaudio ul .start-play.start-play-on {
  background-position: -33px -83px;
}
.musice-list ul dl, .musice-list2 ul dl, .musice-myaudio ul dl {
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  line-height: 40px;
  font-size: .8em;
  color: #505050;
  overflow: hidden;
  padding: 5px 0;
}
.musice-list ul dt, .musice-list2 ul dt, .musice-myaudio ul dt {
  padding-left: 19px;
  float: left;
  background-position: -49px -37px;
}
.musice-list ul dd, .musice-list2 ul dd, .musice-myaudio ul dd {
  margin: 0;
  float: right;
}
.musice-list ul dd :nth-child(n), .musice-list2 ul dd :nth-child(n), .musice-myaudio ul dd :nth-child(n) {
  margin-right: 15px;
  vertical-align: middle;
}
.musice-list ul dd :last-child, .musice-list2 ul dd :last-child, .musice-myaudio ul dd :last-child {
  margin: 0;
}
.musice-list ul dd button, .musice-list2 ul dd button, .musice-myaudio ul dd button {
  padding: 0;
  outline: none;
  border: none;
  background: url(../img/d3_01_01.png) no-repeat;
  background-size: 70px auto;
}
.musice-list ul dd .start-play, .musice-list2 ul dd .start-play, .musice-myaudio ul dd .start-play {
  width: 20px;
  height: 20px;
  background-position: 5px -83px;
}
.musice-list ul dd .delete-editor, .musice-list2 ul dd .delete-editor, .musice-myaudio ul dd .delete-editor {
  width: 20px;
  height: 20px;
  background-position: -50px -82px;
}
.musice-list footer, .musice-list2 footer, .musice-myaudio footer {
  background: #f0f0f0;
}

.musice-list .container, .musice-myaudio .container {
  padding-bottom: 96px;
}

.musice-list .record {
  position: absolute;
  right: 0;
  width: 55px;
  margin-top: -10px;
  margin-right: 10px;
  line-height: 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: .75em;
  text-align: center;
  background: #3c8ce5;
  color: #fff;
}
.musice-list .record:before {
  display: inline-block;
  width: 13px;
  height: 18px;
  background: url(../img/d3_01_01.png) no-repeat;
  background-size: 35px auto;
  background-position: 0px -23px;
  content: "";
  vertical-align: middle;
}

.musice-list2 .container {
  padding-bottom: 55px;
}
.musice-list2 h2:before {
  display: inline-block;
  width: 12px;
  height: 19px;
  margin-right: 10px;
  background-position: -37px 0px;
  vertical-align: top;
  content: "";
}

.fn-hide {
  width: 100%;
  vertical-align: top;
  visibility: hidden;
}

.container .theme-logo {
  text-align: right;
}
.container .theme-logo img {
  margin-right: 26px;
  margin-bottom: 23px;
  width: 174px;
}
.content {
  padding-top: 20px;
  padding-bottom: 55px;
  background: rgba(255, 255, 255, 0.3);
}
.content ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}
.content ul li {
  padding: 10px 0 5px;
  clear: both;
}
.content ul li + li {
  border-top: 1px solid #75a8dd;
}
.content ul p {
  margin: 0;
  font-size: .75em;
  line-height: 1.5em;
  color: #13328c;
  overflow: hidden;
}
.content ul .watch-list {
  margin: 5px 0;
  line-height: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
}
.content ul .watch-list a {
  margin: 0 20px 0 10px;
  outline: none;
  color: #13328c;
  font-size: .75em;
}
.content ul button {
  float: right;
  padding: 0;
  margin-left: 5px;
  color: #13328c;
  font-size: .75em;
  outline: none;
  border: none;
}
.content ul .start-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: -10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  background: #dedede;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fff, #dedede);
  background-image: -moz-linear-gradient(top, #fff, #dedede);
  background-image: -o-linear-gradient(top, #fff, #dedede);
  background-image: -ms-linear-gradient(top, #fff, #dedede);
  background-image: linear-gradient(to bottom, #fff, #dedede);
}
.content ul .start-btn:before {
  display: block;
  width: 27px;
  height: 38px;
  margin: 0 auto;
  content: "";
}
.content ul .pure-musice-btn {
  width: 80px;
  height: 28px;
  line-height: 28px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px #0d225f;
  background: #dedede;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fff, #dedede);
  background-image: -moz-linear-gradient(top, #fff, #dedede);
  background-image: -o-linear-gradient(top, #fff, #dedede);
  background-image: -ms-linear-gradient(top, #fff, #dedede);
  background-image: linear-gradient(to bottom, #fff, #dedede);
}
.content ul .pure-musice-btn span {
  margin-right: 5px;
}
.content ul .pure-musice-btn:before {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  background-position: -28px 3px;
  content: "";
}
.content .tuijian {
  padding: 5px 15px;
  margin: 0;
  color: #fff;
  font-size: .75em;
}
.content .tuijian label {
  font-size: 1.2em;
}
.content .tuijian a {
  color: #fff;
  text-decoration: none;
}
.content .tuijian a:before {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 3px;
  line-height: 1em;
  border-radius: 50%;
  background: #fff;
  content: "";
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 55px;
  text-align: center;
  background: #d8e2f0;
}
footer p {
  margin: 5px 10px;
  text-align: left;
  font-size: .8em;
}
footer button {
  width: 205px;
  height: 28px;
  margin: 10px 0;
  border-radius: 23px;
  outline: none;
}
footer .queding, footer .tijiao {
  background: #133694;
  color: #fff;
  border: none;
}
footer .tiaoguo {
  border: 1px solid #0a2c90;
  text-align: center;
  color: #0a2c90;
  background: #fff;
}
footer .re-record {
  margin-left: 20px;
  color: #13328c;
}

.ui_mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
}

.modal-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 80%;
  max-width: 300px;
  min-height: 320px;
  border: 8px solid #fff;
  border-radius: 4px;
  background: url(../img/d3_03.jpg) no-repeat top center;
  background-size: 100% auto;
  background-color: #fff;
  box-shadow: 2px 2px 8px #999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-dialog p {
  text-align: center;
  margin-top: 120px;
  font-size: .8em;
  color: #0a2c90;
}
.modal-dialog button {
  padding: 0;
  display: block;
  outline: none;
}

.dialog-record .close {
  position: absolute;
  top: -15px;
  right: -15px;
  display: block;
  border: 1px solid #c9c9cb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  background-position: -32px -24px;
  cursor: pointer;
}
.dialog-record .switch {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 38px auto 0;
  background-color: #378aea;
  border: none;
  outline: none;
}
.dialog-record .switch span {
  display: inline-block;
  width: 23px;
  height: 32px;
}
.dialog-record .switch-on span {
  background-position: 0 -42px;
}
.dialog-record .switch-off span {
  background-position: -26px -39px;
}

.dialog-synthetic .progress {
  width: 80%;
  height: 15px;
  margin: 30px auto 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.dialog-synthetic .progress .progress-bar {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  background-color: #112d90;
  background-size: 20px 20px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
.dialog-synthetic .cancel-btn {
  width: 80%;
  margin: 80px auto 0;
  padding: 0;
  border-radius: 20px;
  background: #fff;
  color: #13328c;
  line-height: 25px;
  border: 1px solid #13328c;
}

.dialog-success {
  background: #fff;
  min-height: 100px !important;
}
.dialog-success p {
  margin-top: 30px;
  font-size: 1.2em;
}
.dialog-success .start-select {
  width: 165px;
  height: 25px;
  margin: 0 auto 20px;
  border: none;
  border-radius: 20px;
  background: #13328c;
  color: #fff;
}

#bars1,
#bars2 {
  position: relative;
  height: 30px;
  width: 152px;
  margin: 40px auto 0;
}

.bar {
  background: #4bb0e6;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 7px;
}

.on .bar {
  animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
}
@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 38px;
  }
}
@-webkit-keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 38px;
  }
}
.bar:nth-child(1) {
  left: 1px;
}

.bar:nth-child(2) {
  left: 9px;
}

.bar:nth-child(3) {
  left: 17px;
}

.bar:nth-child(4) {
  left: 25px;
}

.bar:nth-child(5) {
  left: 33px;
}

.bar:nth-child(6) {
  left: 41px;
}

.bar:nth-child(7) {
  left: 49px;
}

.bar:nth-child(8) {
  left: 57px;
}

.bar:nth-child(9) {
  left: 65px;
}

.bar:nth-child(10) {
  left: 73px;
}

.bar:nth-child(11) {
  left: 81px;
}

.bar:nth-child(12) {
  left: 89px;
}

.bar:nth-child(13) {
  left: 97px;
}

.bar:nth-child(14) {
  left: 105px;
}

.bar:nth-child(15) {
  left: 113px;
}

.bar:nth-child(16) {
  left: 121px;
}

.bar:nth-child(17) {
  left: 129px;
}

.bar:nth-child(18) {
  left: 137px;
}

.bar:nth-child(19) {
  left: 145px;
}

.on .bar:nth-child(1) {
  -webkit-animation-duration: 474ms;
  animation-duration: 474ms;
}

.on .bar:nth-child(2) {
  -webkit-animation-duration: 433ms;
  animation-duration: 433ms;
}

.on .bar:nth-child(3) {
  -webkit-animation-duration: 407ms;
  animation-duration: 407ms;
}

.on .bar:nth-child(4) {
  -webkit-animation-duration: 458ms;
  animation-duration: 458ms;
}

.on .bar:nth-child(5) {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.on .bar:nth-child(6) {
  -webkit-animation-duration: 427ms;
  animation-duration: 427ms;
}

.on .bar:nth-child(7) {
  -webkit-animation-duration: 441ms;
  animation-duration: 441ms;
}

.on .bar:nth-child(8) {
  -webkit-animation-duration: 419ms;
  animation-duration: 419ms;
}

.on .bar:nth-child(9) {
  -webkit-animation-duration: 487ms;
  animation-duration: 487ms;
}

.on .bar:nth-child(10) {
  -webkit-animation-duration: 442ms;
  animation-duration: 442ms;
}

.on .bar:nth-child(11) {
  -webkit-animation-duration: 433ms;
  animation-duration: 433ms;
}

.on .bar:nth-child(12) {
  -webkit-animation-duration: 407ms;
  animation-duration: 407ms;
}

.on .bar:nth-child(13) {
  -webkit-animation-duration: 458ms;
  animation-duration: 458ms;
}

.on .bar:nth-child(14) {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.on .bar:nth-child(15) {
  -webkit-animation-duration: 427ms;
  animation-duration: 427ms;
}

.on .bar:nth-child(16) {
  -webkit-animation-duration: 441ms;
  animation-duration: 441ms;
}

.on .bar:nth-child(17) {
  -webkit-animation-duration: 419ms;
  animation-duration: 419ms;
}

.on .bar:nth-child(18) {
  -webkit-animation-duration: 487ms;
  animation-duration: 487ms;
}

.on .bar:nth-child(19) {
  -webkit-animation-duration: 442ms;
  animation-duration: 442ms;
}

/*# sourceMappingURL=musice-cake.css.map */
