@charset "utf-8";
@import "../../insweet-index/sass/bianliang";
@include reset-normalize;
$color1:#0a2c90;
$color2:#13328c;
%backgound-img{
     background: url(../img/d3_01_01.png) no-repeat;
     background-size: 64px 92px;
}

@mixin padding-bottom($padding-value){
    .container{
        padding-bottom: $padding-value;
    }
}
html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    position: relative;
    @include font-fm;
    -webkit-user-select: none;
}
//musice-cake页面
.musice-cake{
    background: url(../img/d1.jpg) no-repeat;
    background-size: cover;
    .container{
        position: absolute;
        bottom: 0;
        width: 100%;    
    }
}

//musice-list 页面
.musice-list, .musice-list2, .musice-myaudio{
    background: url(../img/d3_03.jpg) no-repeat top center;
    background-size: 100% auto;
    h2{
        margin: 160px 0 0;
        padding-left: 15px;
        border-bottom: 1px solid $color2;
        font-size: 1em;
        font-weight: normal;
        color: $color2;
        span{
            margin-left: 10px;
            font-size: .8em;
            color: #505050;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            padding: 0 15px;
            &:last-child{
                dl{
                    border: none;
                }
            }
        }
        .select-on{
            background: #e6f0fa;
            .start-play{
               background-position: -14px -77px;
           }
           dt{
              color: $color2;
              @extend %backgound-img;
              background-position: -49px -4px;
           }
           span{
               color: $color2;
           }
        }
        .start-play{
           &.start-play-on{
              background-position: -28px -77px; 
           }
       }
        dl{
            margin: 0;
            border-bottom: 1px solid #f0f0f0;
            line-height: 40px;
            font-size: .8em;
            color: #505050;
            overflow: hidden;
        }
        dt{
            padding-left: 19px;
            float: left;
            @extend %backgound-img;
            background-position: -49px -37px;
        }
        dd{
            margin: 0;
            float: right;
            :nth-child(n){
                margin-right: 15px;
                vertical-align: middle;
            }
            :last-child{
                margin: 0;
            }
            button{
                 padding: 0;
                 outline: none;
                 border: none;
                 @extend %backgound-img;
            }
            .start-play{
                width: 16px;
                height: 16px;
                background-position: 3px -77px;
            }
            .delete-editor{
                width: 16px;
                height: 16px;
                background-position: -43px -77px;
            }
        }
    }
    footer{
        background: #f0f0f0;
    }
}

.musice-list,.musice-myaudio{
    @include padding-bottom(96px);
}

//录音列表页
.musice-list{
    .record{
        position: absolute;
        right: 0;
        width: 55px;
        margin-top: -10px;
        margin-right: 10px;
        line-height: 25px;
        border-radius: 25px;
        cursor: pointer;
        font-size: .75em;
        text-align: center;
        background: #3c8ce5;
        color: #fff;
        &:before{
            display: inline-block;
            width: 13px;
            height: 18px;
            background: url(../img/d3_01_01.png) no-repeat;
            background-size: 35px auto;
            background-position: 0px -23px;
            content: "";
            vertical-align: middle;
        }
    }
}
//背景音乐列表
.musice-list2{
     @include padding-bottom(55px);
    h2{
      &:before{
          display: inline-block;
          width: 12px;
          height: 19px;
          margin-right: 10px;
          @extend %backgound-img;
          background-position: -37px 0px;
          vertical-align: top;
          content: "";
      }  
    }
}
.fn-hide{
    width: 100%;
    vertical-align: top;
    visibility: hidden;
}
.container{
    .theme-logo{
        text-align: right;
        img{
            margin-right: 26px;
            margin-bottom: 23px;
            width: 174px;
        }
    }
    @at-root .content{
        padding-top: 20px;
        padding-bottom: 55px;
        background: rgba(255,255,255,.3);
        ul{
            margin: 0;
            padding: 0 15px;
            list-style: none;
            li{
                padding: 10px 0 5px;
                clear: both;
                &+li{
                    border-top: 1px solid #75a8dd;
                }
            }
            p{
                margin: 0;
                font-size: .75em;
                line-height: 1.5em;
                color: $color2;
                overflow: hidden;
            }
            .watch-list{
                margin: 5px 0;
                line-height: 20px;
                overflow: hidden;
                background: rgba(255,255,255,.3);
                a{
                    margin: 0 20px 0 10px;
                    outline: none;
                    color: $color2;
                    font-size: .75em;
                }
            }
            button{
                float: right;
                padding: 0;
                margin-left: 5px;
                color: $color2;
                font-size: .75em;
                outline: none;
                border: none;
            }
            .start-btn{
                @include round(70px);
                margin-top: -10px;
                margin-bottom: 10px;
                box-shadow: 0 0 0 3px rgba(255,255,255,.5);
                @include v-gradient(#fff,#dedede,#dedede);
                &:before{
                    display: block;
                    width: 27px;
                    height: 38px;
                    margin: 0 auto;
                    @extend %backgound-img;
                    content: "";
                }
            }
            .pure-musice-btn{
                width: 80px;
                height: 28px;
                line-height: 28px;
                border-radius: 25px;
                box-shadow: 1px 1px 2px darken($color2,10%);
                @include v-gradient(#fff,#dedede,#dedede);
                span{
                    margin-right: 5px;
                }
                &:before{
                    position: relative;
                    top: -1px;
                    @include round(25px);
                    margin-right: 5px;
                    display: inline-block;
                    @extend %backgound-img;
                    vertical-align: middle;
                    background-color: #fff;
                    background-position: -28px 3px;
                    content: "";
                }
            }
        }
        .tuijian{
            padding: 5px 15px;
            margin: 0;
            color: #fff;
            font-size: .75em;
            label{
                font-size: 1.2em;
            }
            a{
                color: #fff;
                text-decoration: none;
                &:before{
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    margin: 0 3px;
                    line-height: 1em;
                    border-radius: 50%;
                    background: #fff;
                    content: "";
                }
            }
        }
    }
}

//跳过
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    text-align: center;
    background: #d8e2f0;
    p{
        margin: 5px 10px;
        text-align: left;
        font-size: .8em;
    }
    button{
       width: 205px;
       height: 28px;
       margin: 10px 0;
       border-radius: 23px; 
       outline: none;
    }
    .queding{
        background: #133694;
        color: #fff;
        border: none;
    }
    .tijiao{
        @extend .queding;
    }
    .tiaoguo{
        border: 1px solid $color1;
        text-align: center;
        color: $color1;
        background: #fff;
    }
    .re-record{
        margin-left: 20px;
        color: $color2;
    }
}
//遮罩层
.ui_mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: #fff;
    @include opacity(.7);
}

//弹出窗口样式
.modal-dialog{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 80%;
    max-width: 300px;
    min-height: 320px;
    border: 8px solid #fff;
    border-radius: 4px;
    background: url(../img/d3_03.jpg) no-repeat top center;
    background-size: 100% auto;
    background-color: #fff;
    box-shadow: 2px 2px 8px #999;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    p{
        text-align: center;
        margin-top: 120px;
        font-size: .8em;
        color: $color1;
    }
    button{
       padding: 0;
       display: block;
       outline: none;
    }
}
.dialog-record{
    .close{
        position: absolute;
        top: -15px;
        right: -15px;
        display: block;
        border: 1px solid #c9c9cb;
        @include round(20px);
        @extend %backgound-img;
        background-color: #fff;
        background-position: -32px -24px;
        cursor: pointer;
    }
    .switch{
        @include round(60px);
        margin: 38px auto 0;
        background-color: #378aea;
        border: none;
        outline: none;
        span{
            display: inline-block;
            width: 23px;
            height: 32px;
            @extend %backgound-img;
        }
    }
    .switch-on{
        span{
            background-position: 0 -42px;
        }
    }
    .switch-off{
        span{
            background-position: -26px -39px;
        }
    }
}
.dialog-synthetic{
    .progress{
        width: 80%;
        height: 15px;
        margin: 30px auto 20px;
        border-radius:10px;
        overflow: hidden;
        border:1px solid #f0f0f0;
        box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
        .progress-bar{
            width: 45%;
            height: 100%;
            border-radius: 10px;
            @include progress(-45deg,rgba(255,255,255,.25));
            background-color: #112d90;
            background-size: 20px 20px;
            -webkit-animation: progress-bar-stripes 2s linear infinite;
            animation: progress-bar-stripes 2s linear infinite;
            @at-root{
                @keyframes progress-bar-stripes{
                    from{
                        background-position:0 0;
                    }
                    to{
                        background-position:20px 0;
                    }
                }
                @-webkit-keyframes progress-bar-stripes{
                    from{
                        background-position:0 0;
                    }
                    to{
                        background-position:20px 0;
                    }
                }
            }
        }
    }
    .cancel-btn{
        width: 80%;
        margin: 80px auto 0;
        padding: 0;
        border-radius: 20px;
        background: #fff;
        color: $color2;
        line-height: 25px;
        border: 1px solid $color2;
    }
}
.dialog-success{
    background: #fff;
    min-height: 100px !important;
    p{
        margin-top: 30px;
        font-size: 1.2em;
    }
    .start-select{
        width: 165px;
        height: 25px;
        margin: 0 auto 20px;
        border: none;
        border-radius: 20px;
        background: $color2;
        color: #fff;
    }
}
//跳动的声波线
#bars1,
#bars2 {
    position: relative;
    height: 30px;
    width: 152px;
    margin: 40px auto 0;
}
.bar {
    background: #4bb0e6;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 7px;
}
.on .bar {
    animation: sound 0ms -800ms linear infinite alternate;
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    @at-root{
        @keyframes sound {
            0% {
                opacity: .35;
                height: 3px;
            }
            100% {
                opacity: 1;
                height: 38px;
            }
        }
        @-webkit-keyframes sound {
            0% {
                opacity: .35;
                height: 3px;
            }
            100% {
                opacity: 1;
                height: 38px;
            }
        }
    }
}
@for $i from 1 through 19 {
    .bar:nth-child(#{$i}) {
        left: 1px + $i*8 - 8;
    }  
}
$headings: (1: 474ms, 2: 433ms, 3: 407ms, 4: 458ms, 5: 400ms, 6: 427ms,7: 441ms, 8: 419ms, 9:487ms, 10: 442ms, 11: 433ms, 12: 407ms, 13: 458ms, 14: 400ms, 15: 427ms, 16: 441ms, 17: 419ms, 18: 487ms, 19: 442ms);
@each $header, $size in $headings {
  .on .bar:nth-child(#{$header}) {
     -webkit-animation-duration: $size;
    animation-duration: $size;
  }
}













